/* Height of profile form + submit button
if the order history is longer, the scroll bar will appear*/
.order-history {
    max-height: 416px;
    overflow: auto;
}

#profile-update-form input::placeholder {
    color: #aab7c4;
}

#profile-update-form .form-control{
    color: #000;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #000;
}

#id_default_country option:first-child {
    color: #aab7c4;
}